# Godot 4+ specific ignores
.godot/

# Godot-specific
.import/
.export/
*.godot-export
*.import
*.uid
.tmp
# OS-specific
.DS_Store
Thumbs.db

# Godot build cache
*.mono/
/assets/goatboy/*.tmp
/scenes/weapons/*.tmp
*.tmp

/android/build/libs
